USE [master]
GO
/****** Object:  Database [LibraryUr]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE DATABASE [LibraryUr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryUr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryUr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryUr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryUr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryUr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryUr]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/11/2024 11:03:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 22/11/2024 11:03:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[EstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](25) NOT NULL,
	[Matricula] [nvarchar](4) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Estudiantes] PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libroes]    Script Date: 22/11/2024 11:03:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libroes](
	[LibroId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Autor] [nvarchar](50) NOT NULL,
	[ISBN] [nvarchar](13) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[CopiasDisponibles] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Libroes] PRIMARY KEY CLUSTERED 
(
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamoes]    Script Date: 22/11/2024 11:03:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamoes](
	[PrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[LibroId] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Prestamoes] PRIMARY KEY CLUSTERED 
(
	[PrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([EstudianteId], [Nombre], [Apellido], [Matricula], [Email]) VALUES (1, N'Juan', N'Castaño', N'1234', N'juanangelo@gmail.com')
INSERT [dbo].[Estudiantes] ([EstudianteId], [Nombre], [Apellido], [Matricula], [Email]) VALUES (2, N'Angelo', N'Correa', N'0987', N'angelocastano@gmail.com')
INSERT [dbo].[Estudiantes] ([EstudianteId], [Nombre], [Apellido], [Matricula], [Email]) VALUES (3, N'Ríchard', N'Ríos', N'7777', N'richardcito@gmail.com')
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Libroes] ON 

INSERT [dbo].[Libroes] ([LibroId], [Titulo], [Autor], [ISBN], [AnioPublicacion], [CopiasDisponibles]) VALUES (1, N'100 Años de Soledad', N'Gabriel García Márquez', N'1234567890123', 1967, 99)
INSERT [dbo].[Libroes] ([LibroId], [Titulo], [Autor], [ISBN], [AnioPublicacion], [CopiasDisponibles]) VALUES (2, N'El Principito', N'Antoine de Saint Exupéry', N'1231234564513', 1946, 2)
INSERT [dbo].[Libroes] ([LibroId], [Titulo], [Autor], [ISBN], [AnioPublicacion], [CopiasDisponibles]) VALUES (3, N'El señor de los anillos', N'John Ronald Reuel Tolkien', N'1234567891213', 1954, 10)
SET IDENTITY_INSERT [dbo].[Libroes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexCorreo]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IndexCorreo] ON [dbo].[Estudiantes]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexMatricula]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IndexMatricula] ON [dbo].[Estudiantes]
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexISBN]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IndexISBN] ON [dbo].[Libroes]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteId]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteId] ON [dbo].[Prestamoes]
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LibroId]    Script Date: 22/11/2024 11:03:24 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_LibroId] ON [dbo].[Prestamoes]
(
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prestamoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prestamoes_dbo.Estudiantes_EstudianteId] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiantes] ([EstudianteId])
GO
ALTER TABLE [dbo].[Prestamoes] CHECK CONSTRAINT [FK_dbo.Prestamoes_dbo.Estudiantes_EstudianteId]
GO
ALTER TABLE [dbo].[Prestamoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prestamoes_dbo.Libroes_LibroId] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libroes] ([LibroId])
GO
ALTER TABLE [dbo].[Prestamoes] CHECK CONSTRAINT [FK_dbo.Prestamoes_dbo.Libroes_LibroId]
GO
USE [master]
GO
